body{
    height: 100vh;
    background: rgb(185,11,11);
    background: radial-gradient(circle, rgba(185,11,11,0.7147233893557423) 53%, rgba(0,0,0,1) 89%);/*Gradiente*/
}
a{
    color: #ffffff;
}

.areaLogin{
    background-color: rgb(24, 24, 24);
    width: 600px;
    height: 500px;
    border-radius: 20px;
}
.logo a,a{
    text-decoration: none;
}

.logo i{
    color: #ffffff;
}

.logo-descrição{
    color: red;
    font-size: 40px;
    margin: 10px;
}

.modal-centro{
    height: 100vh;
}

@media only screen and (max-width: 860px) {
    .areaLogin{
        height: 550px;
    } 
}