body{
    height: 100vh;
    background: rgb(185,11,11);
    background: radial-gradient(circle, rgba(185,11,11,0.7147233893557423) 53%, rgba(0,0,0,1) 89%);
}


.areaLogin{
    background-color: white;
    width: 600px;
    height: 400px;
}

.logo a{
    text-decoration: none;
}

.logo i{
    color: black;
}

.logo-descrição{
    color: red;
    font-size: 40px;
    margin: 10px;
}

